
<div id="exchanges">
  <div class="exchange-tile" id="highest_value">
    <p>200</p>
    <p>Highest value</p>
  </div>

  <div class="exchange-tile" id="lowest_value">
    <p>40</p>
    <p>Lowest value</p>
  </div>

  <div class="exchange-tile" id="average_value">
    <p>120</p>
    <p>Average value</p>
  </div>

  <div class="exchange-tile" id="history">
    <h2>History</h2>
    <ul id="history_list">
      <li>200</li>
      <li>200</li>
      <li>200</li>
      <li>200</li>
      <li>200</li>
      <li>200</li>
      <li>200</li>
      <li>200</li>
      <li>200</li>
      <li>200</li>
      <li>200</li>
      <li>200</li>
      <li>200</li>
      <li>200</li>
      <li>200</li>
      <li>200</li>
      <li>200</li>
      <li>200</li>
      <li>200</li>
      <li>200</li>
      <li>200</li>
      <li>200</li>
      <li>200</li>
      <li>200</li>
    </ul>
  </div>
</div>